.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}


.block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list {
  display: grid;
  grid-template-columns: max-content;
  list-style: none;
  gap: calc(4px * 4);
  margin: 0;
  padding: 0;
}