.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.popup {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: #1C1C21;
  width: 720px;
  border-radius: 6%;
}

.buttonClose {
  all: unset;
  position: absolute;
  display: inline;
  top: 60px;
  left: 656px;
  width: 24px;
  cursor: pointer;
}