.section {
  display: flex;
  flex-direction: column;
}

.content {
  width: 603px;
  margin-left: 10px;
}


.container {
  max-height: 60vh;
  max-width: max-content;
  overflow-x: hidden;
  overflow-y: scroll;
}